{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "typescript-eslint-parser",
  "plugins": ["typescript"],
  "rules": {
    "no-undef": "off",
    "max-len": "off",
    "no-multi-str": "off",
    "object-curly-spacing": ["error", "never"],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "typescript/no-unused-vars": "error",
    "no-restricted-globals": "off",
    "no-use-before-define": "off",
    "no-restricted-syntax": "off",
    "consistent-return": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-continue": "off"
  },
  "env": {
    "node": true,
    "jest": true
  }
}
